@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper > div {
  height: auto;
}

div .swiper {
  padding: 0 0 3rem 0;
}

div .swiper-pagination-bullet-active {
  background-color: #eb8671;
}

.bg-custom-gradient {
  background: linear-gradient(
    180deg,
    #fff6f2 0%,
    #fff0e4 0.01%,
    #fff7f2 33.33%,
    #fff6f2 100%
  );
}

@media (min-width: 1024px) {
  .bg-custom-gradient {
    background: #fff6f2;
  }
}
